#menu{
    
    list-style-type: none;
    margin: 0 0 0 -50px;
    border: 0;
    border-line: 5px 2px 5px 2px;
    opacity: 0.8;
    top: 0;
    left: 0;
}
#menu li{
    float: left;
    text-align: center;
    vertical-align: center;
    width: 100px;
    margin: 0;
    padding: 0 5px;

}
#menu li a:link, #menu li a:visited{
    display: block;
    height: 60px;
    color: #2e3436;
    background: #ddd07c;
    margin: 0;
    padding: 4px 8px;
    border-right: 1px solid #000000;
    text-decoration: none;
}
#menu li a:hover {background-color: #b1c9e4;}
#menu li a:active {background-color: #5F879D;}
#menu .sousMenu{
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
}
#menu .sousMenu li{
    float: none;
    margin: 0;
    padding: 0;
    border: 0;
    height: 30px;
    width: 100px;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
}
#menu .sousMenu li a:link, #menu .sousMenu li a:visited{
    display: block;
    color: #FFF;
    margin: 0;
    border: 0;
    text-decoration: none;
}
#menu .sousMenu li a:hover{
    background-image: none;
    background-color: #729fcf;
}
#menu li:hover > .sousMenu {display: block;}
