@charset "UTF-8";
body {	
	/*background-color: #e9b96e;*/
	margin: 0 0 0 15%;
	height:15%;
	width: 120;
}
canvas {
	background-image:url("../blender-files/Texture/background.jpg");
	background-repeat: no;
	display: block;
	width: 8%;
	height:15px;
}